<div>
    <p class="question-text">{{text}}</p>
    <div class="mdl-grid">
        <div *ngFor="let t of question.children" class="mdl-cell mdl-cell--12-col">
            <hr *ngIf="i>0&&t.type=='Title'" />
            <h4 *ngIf="t.type=='Title'">{{t.text}}</h4>
            <p class="question-text" *ngIf="t.type=='Text'" [innerHTML]="t.text"></p>
            <!--YO!-->
            <app-forms-checkbox *ngIf="t.type=='Checkbox'" [(result)]="result" [name]="name" [question]="t"></app-forms-checkbox>
        </div>
    </div>
    <!--<button (click)="test()">TEST</button>-->
</div>